//= require normalize.css

@import 'bourbon/bourbon';

$background-color: #fdf6e3;
$font-color: rgba(0,0,0,.84);
$accent-color: #e44f4f;

$nav-screen-media: "(min-width: 37.5rem)";

@mixin selection {
  background: darken($background-color, 5%);
  color: $accent-color;
}

::-moz-selection { @include selection; }
::selection { @include selection; }

html {
  background: $background-color;
  color: $font-color;
  font-weight: 300;
  height: 100%;
  min-height: 100%;
}

main {
  margin: 2rem 1rem;

  font-family: 'Source Code Pro', monospace, sans-serif;
  line-height: 1.4;
}

section {
  @media (min-width: 27rem) {
    @include margin(10vh null null 5.55vw);
    padding: .75rem .75rem .75rem 1.65rem;
  }
  @media (min-width: 37.5rem) {
    @include margin(18vh null null 10vw);
    padding-left: 1rem 1rem 1rem 2.25rem;
  }

  border-left: .15rem solid;
  max-width: 25rem;
  padding: .5rem .25rem .5rem 1.15rem;
}

h1 {
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: $font-color;
  text-decoration: none;

  background-image: linear-gradient(to bottom, transparentize($font-color, 0.16) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;

  &:focus,
  &:hover {
    color: transparentize($font-color, 0.08);
    background-image: linear-gradient(to bottom, $font-color 50%, transparent 50%);
    font-weight: 400;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
